APP_NAME=Wazuh AI Alert Service
WAZUH_LOG_PATH=alerts.json
DEFAULT_MAX_LINES=500
CONTAMINATION=0.08
MIN_RULE_LEVEL_ALERT=10
SEND_TELEGRAM_BY_DEFAULT=true

# Telegram sozlamalari
TELEGRAM_BOT_TOKEN=123456:your-telegram-bot-token
TELEGRAM_CHAT_ID=123456789
